.user_container {
  max-width: 600px;
  margin: 30px auto 0;
}

.searchUsers {
  margin-bottom: 20px;
  text-align: center;
}

.find {
  background: rgba(69, 84, 105, 0.9);
  font-size: 16px;
  width: 200px;
  height: 30px;
  border-radius: 50px;
  color: white;
  padding-left: 15px;
}
.btn {
  width: 90px;
  height: 30px;
  background-color: #0e6ebc;
  color: white;
  margin-left: 15px;
}