.friend {
  flex: 0 1 33.333%;
  padding: 0 0 15px 0;
  cursor: pointer;
  text-align: center;
  img{
    border-radius: 50%;
    width: 50px;
  }
  p{
    padding: 15px 0 0 0;
    text-align: center;
    color: #304159;
  }
  &:hover {
    text-decoration: underline;
  }
}