.app-wrapper {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-areas:
      "h h"
      "n c";
   grid-template-rows: 70px 1fr;
   grid-template-columns: 2.5fr 9fr;
   grid-gap: 10px;
   min-height: 100vh;
}

.app-wrapper-content {
   grid-area: c;
   background-color: #fff;
   overflow: hidden;
   border-radius: 5px;
   position: relative;
}
